<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstydy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".radioandcheck.RadioButtonActivity" />
        <activity android:name=".radioandcheck.CheckBoxActivity" />
        <activity android:name=".events.FiveMethodsActivity" />
        <activity android:name=".events.methods.EventsMethodsActivity" />
        <activity android:name=".fragment.StaticFragmentActivity" />
        <activity android:name=".fragment.DynamicFragmentActivity" />
        <activity
            android:name=".fragment.bottommenudemo1.BottomMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.bottommenudemo2.BottomMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".fragment.bottommenudemo3.BottomMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".menus.OptionMenuActivity" />
        <activity android:name=".menus.ContextMenuActivity"></activity>
        <activity android:name=".menus.SubMenuActivity">

        </activity>
        <activity android:name=".menus.PopupMenuActivity" android:label="PopupMenu弹出式菜单">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>